# Data Science Tools and Ecosystem

## Author
Robert Kiruta-Kigozi

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**:

- List popular languages for Data Science
- Execute Simple Arithmetic
- List popular Data Science Tools

Some of the popular languages that Data Scientists use are:
    
1. Python
2. SQL
3. R

|Data Science Tools|
-----------------------
|Jupyter Notebook| 
|RStudio|
|Apaches Zeppelin

### Below are a few examples of evaluating arithmetic expression in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335